@import '../../styles/mixins';

.projects {
  background-image: linear-gradient(145deg,#fff 10%,#fff1b9);
  padding-top: 50px;
  min-height: 1105px;
  flex: 1 0 auto;
}


.projects_container {
  max-width: 1300px;
  margin: 0 auto;
  width: 77%;
  @include mobile-or-less {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.projects_cards_container {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-gap: 8%;
  margin-bottom: 70px;
  
  @include mobile-or-less {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}