$header: #8f2d56;
$about-background: #fdfdfd;


// Full name
$color1: #ef5350;
$color2: #ab47bc;
$color3: #651fff;
$color4: #3949ab;
$color5: #00bcd4;
$color6: #4caf50;
$color7: #ffc107;
$color8: #e96290;
$color9: #ff8f00;
$color10: #ef5350;
$color11: #2196f3;
$color12: #4caf50;
$color13: #e96290;
