@import '../../styles/variables';
@import '../../styles/mixins';

.about_container {
  margin-top: 280px;
  background-image: linear-gradient(-45deg,#fff 10%,#f4f4f4);
  z-index: 1;
  min-height: 720px;
  position: relative;
  flex: 1 0 auto;

  @include mobile-or-less {
    margin-top: 40px;
  }

}

.parallax_container {
  z-index: 3;
}

.about_section {
  max-width: 1300px;
  margin: 0 auto;
  width: 68%;

  @include mobile-or-less {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
}

.skills_icons_container {
  display: flex;
  justify-content: space-evenly;
  @include mobile-or-less {
    width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-row-gap: 37px;
  }
}

.icon {
  font-size: 48px;
  &_html {
    color: #e5613c;
  }
  &_css {
    color: #3178c7;
  }
  &_js {
    color: #fae540;
  }
  &_react {
    color: #61dafb;
  }
  &_vue {
    color: #41b882;
  }
  &_db {
    color: #f9ad01;
  }
}

.transform {
  position: absolute;
  top: 14%;
  left: 14%;
  z-index: -1;
  transform: rotate(-14deg);
}
.shape {
  height: 420px;
  width: 420px;
  background-image: linear-gradient(135deg, #ffce75 10%, #ffbc42);
}

.background {
  width: 50%;
  @include mobile-or-less {
    display: none;
  }
}

.about_me_text {
  @include mobile-or-less{
    text-align: justify;
    hyphens: auto;
  }  
}

.highlight {
  &_one {
    background-color: #e5613c;
  }
  
  &_two {
    background-color: #41b882;
  }

  &_three {
    background-color: #61DAFB;
  }

  &_four {
    background-color: #d5668f;
  }
}

