@import '../../styles/variables';

.header {
    background-color: $header;
    border-top: 8px solid #8f2d56;
}

.header__title {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.header__link {
    color: white;
    text-decoration: none;
}