@import '../../styles/mixins';
@import '../../styles/variables';


@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.intro {
  position: relative;
  max-width: 1300px;
  margin: 169px auto 0 auto;
  flex: 1 0 auto;

  @include mobile-or-less {
    margin-top: 50px;
  }
}

.foreground {
  width: 100%;
  margin: 0px auto 30px auto;
  min-height: 200px;
  z-index: 3;

&_content {

  & .quote_container {
    @include mobile-or-less {
      width: 85%;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include mobile-or-less {
    word-wrap: break-word;
    align-items: center
  }
}

  @include mobile-or-less {
  // padding: 40px;

  }

  &__title {
    z-index: 1;
    @media only screen and (max-width: 370px) { 
      font-size: 3.7rem;
    } 
    & span:nth-child(odd) {
      color: #f7db4d;
    }
    & span:nth-child(even) {
      color: #DA111A;
    }
  
    @include mobile-or-less {
      text-align: center;
      font-size: 3.8rem;
      width: 85%;
    }

  }
  &__description {
    z-index: 1;
    padding: 10px 63px !important;
    background: linear-gradient(135deg, #ffce75 10%, #ffbc42);
    cursor: pointer;
    padding: 0.75rem 1rem 0.5rem;
    width: 840px;
    max-width: 840px;
    min-height: 62px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    @include mobile-or-less {
      width: 100%;
      padding: 10px 45px !important;
      text-align: center;
    }
    @media only screen and (max-width:900px) and (min-width:768px) { 
      width: 90%;
    } 
  }
  &__description:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
}

.background {
  width: 50%;
  @include mobile-or-less {
    display: none;
  }
}

.background__shape {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(135deg, #ef2d73 10%, #d81159);
}
.transform {
  transform: rotate(-10deg);
  position: absolute;
  top: -68px;
  right: -10%;
  z-index: 0;
  @include between-tablet-and-mobile {
    right: 4%;
  }
}
.icons_container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  @include between-tablet-and-mobile {
    z-index: 10;
    width: 100%;
    margin-top: 40px;
  }

  @include mobile-or-less {
    width: 96%;
    margin-top: 35px;
  }

  & svg {
    font-size: 1.8rem;
  }
}


.icon {
  cursor: pointer;
  &_twitter {
    color: #1da1f2;
  }

  &_linkedin {
    color: #0277B5;
  }

  &_github {
    color: black
  }

  &_dev {
    color: black
  }
}

.foreground__description_bounce {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

blockquote {
  font-size: 17px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  }
  
  blockquote:before {
    left: 0px;
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    top: -20px;
    color: #7a7a7a;
    @include mobile-or-less {
      left: -5px;
    }
  }

