.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #fff;
  background: #492540;
  box-shadow: inset 0 10px 187px -4px rgba(0,0,0,.5);
  text-align: center;
  flex-shrink: 0
}

.heart {
  color: red;;
}